@use "drocket/styles.css";
@use "drocket/framework.scss";
@use "assets/fonts/style.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.page-enter-active,
.page-leave-active {
    transition: all 100ms;
}

.page-enter-from,
.page-leave-to {
    opacity: 0;
}

.e-app {
    background-color: var(--grey);
}

.text-underline {
    text-decoration: underline;
}

.page-enter-active,
.page-leave-active {
    transition: all 200ms;
}

.page-enter-from,
.page-leave-to {
    opacity: 0;
    filter: blur(1rem);
}

.dialog-scrollable {
    &__header {
        flex: 0 0 auto;
    }

    &__wrapper {
        height: 100%;
    }

    &__body {
        flex: 1;
        overflow-y: auto;
    }
}